<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- PG크로스브라우징필수내용 -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- // PG크로스브라우징필수내용 -->

    <title>기본 레이아웃</title>
    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-fold.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-desc.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-prdInfo.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->

    <!--@js(/layout/basic/js/basic.js)-->
    <!--@js(/layout/basic/js/layout.js)-->
    <!--@js(/js/common.js)-->
</head>
<body>
<div id="skipNavigation">
    <p><a href="#category">전체상품목록 바로가기</a></p>
    <p><a href="#contents">본문 바로가기</a></p>
</div>

<div id="wrap">
    <!--@import(/layout/basic/topbanner.html)-->
    <header id="header">
        <div class="inner">
            <div class="topArea">
                <h1 module="Layout_LogoTop" class="topArea__logo">
                    <!--@css(/css/module/layout/logotop.css)-->
                    <a href="/index.html"><img src="{$logo}" alt="{$mall_name}" /></a>
                </h1>
                <!--@import(/layout/basic/state_login.html)-->
            </div>
            <!--@import(/layout/basic/navigation.html)-->
        </div>
    </header><hr class="layout" />

    <!--@import(/layout/basic/sidebar.html)-->
    <div id="container">
        <div id="contents">
            <span module="Layout_MobileAction" class="RTMB">
                <a href="#none" onclick="{$go_back}"><!--@import(/svg/icon-go-back.html)-->뒤로가기</a>
            </span>
            <!--@contents-->
        </div><hr class="layout" />

    </div><hr class="layout" />

    <!--@import(/layout/basic/quick.html)-->

    <!--@import(/layout/basic/footer.html)-->
</body>
</html>