        <div class="navigation">
            <button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button>
            <div module="Layout_category" class="navigation__category RW">
                <!--@css(/css/module/layout/category.css)-->
                <ul>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                </ul>
            </div>
            <div class="navigation__util">
                <button type="button" class="menu btnSearch eSearch">
                    <!--@import(/svg/icon-search.html)-->
                    검색
                </button>
                <a href="/myshop/index.html" class="menu RW">
                    <!--@import(/svg/icon-user.html)-->
                    마이쇼핑
                </a>
                <a href="/myshop/wish_list.html" class="menu RW">
                    <!--@import(/svg/icon-heart.html)-->
                    관심상품
                </a>
            </div>
        </div>