<div class="topArea__statelogon RW">
    <!--@css(/css/module/layout/statelogoff.css)-->
    <div module="Layout_statelogoff">
        <a href="/member/agreement.html">Join</a>
        <a href="/member/login.html">Login</a>
        <a href="/myshop/order/list.html">Order</a>
        <a href="/order/basket.html">Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
    </div>
    <div module="Layout_stateLogon">
        <a href="{$action_logout}">Logout</a>
        <a href="/myshop/order/list.html">Order</a>
        <a href="/order/basket.html">Cart <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
    </div>
</div>