#popup { width:800px; }
.xans-myshop-addrmodify #address_zip1, .xans-myshop-addrmodify #address_zip2 { width:60px; text-align:center; }
.xans-myshop-addrmodify #address_addr1, .xans-myshop-addrmodify #address_addr2 { margin:5px 0 0; }