.xans-myshop-couponserial .couponSerial { text-align:center; border:1px solid #e5e5e5; border-top-color:#000; }
.xans-myshop-couponlist .couponList .ec-base-table,
.xans-myshop-couponlist .couponList .ec-base-prdEmpty { border-top:0; }
.xans-myshop-couponlist .couponList .ec-base-prdEmpty { padding-top:6px; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-myshop-couponserial .couponSerial { margin:0 0 34px; padding:30px 16px; }
    .xans-myshop-couponserial .couponSerial #coupon_code { width:100%; }
    .xans-myshop-couponserial .couponSerial #coupon_code + .btnSubmitFix { width:100%; margin:10px 0 0; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-myshop-couponserial .couponSerial { margin:0 0 50px; padding:37px; }
    .xans-myshop-couponserial .couponSerial #coupon_code { width:342px; }
    .xans-myshop-couponserial .couponSerial .btnSubmitFix { margin:0 0 0 6px; }
}
