/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    /* myshop layout */
    .xans-myshop-main { display:none; }
    .myshopMain .xans-myshop-main { display:block; }
    
    .xans-myshop-main .subTitle { padding:27px 16px 12px; background:#f6f6f6; }
    .xans-myshop-main h3 { color:#000; color:var(--font-color-heading); font-size:16px; }
    .xans-myshop-main .menu { border-top:1px solid #000; }
	.xans-myshop-main .menu li { border-bottom:1px solid #e5e5e5; }
	.xans-myshop-main .menu li a { position:relative; display:block; padding:21px 16px; font-size:14px; text-decoration:none; }
    .xans-myshop-main .menu li a:after { content:""; display:block; position:absolute; top:8px; right:18px; width: 10px; height: 10px; margin: 18px auto 0; border-left: 1px solid #929292; border-bottom: 1px solid #929292; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-main .consult { margin:23px 16px 0; }
    .xans-myshop-main .consult .btnNormal { width:100%; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    /* myshop layout */
    .myshopArea { position:relative; margin:39px 0 0; padding:0 0 0 210px; }
    .xans-myshop-main { position:absolute; left:0; top:0; width:200px; }
    
    .xans-myshop-main .title {  font-size:30px; }
    .xans-myshop-main .subTitle { margin:50px 0 0; }
    .xans-myshop-main h3 { color:#000; color:var(--font-color-heading); font-size:18px; font-weight:normal; font-weight:bold; }
    .xans-myshop-main .menu li { margin:16px 0 0; }
	.xans-myshop-main .menu li a { display:block; color:#6d6d6d; font-size:14px; text-decoration:none; }
    .xans-myshop-main .consult { margin:45px 0 0; }
}