#popup { width:800px; }

.xans-myshop-orderissuecash table #regno { width:120px; }
.xans-myshop-orderissuecash table #ssn1 { width:90px; margin:0 4px 0 0; }
.xans-myshop-orderissuecash table #ssn2 { width:90px; margin:0 4px; }