.xans-myshop-orderstate .state { overflow:hidden; border-top:1px solid #000; border-bottom:1px solid #e5e5e5; }
.xans-myshop-orderstate .state__order { display:flex; }
.xans-myshop-orderstate a:hover { text-decoration:none; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-myshop-orderstate .state__order li { width:25%; padding:26px 7px 25px; text-align:center; }
    .xans-myshop-orderstate .state__order .label { position:relative; display:block; margin:11px 0 0; font-size:13px; }
    .xans-myshop-orderstate .state__order li:not(:last-child) .label:after { content:""; display:block; position:absolute; top:4px; right:-7px; width:7px; height:7px; border-left: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .count { font-size:20px; }
    .xans-myshop-orderstate .state__cs { display:flex; margin-left:-1px; }
    .xans-myshop-orderstate .state__cs li { flex:1; padding:21px 16px; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; letter-spacing:0.04em; word-spacing:4px;display: flex; justify-content: space-between; }
    .xans-myshop-orderstate .state__cs strong { font-weight:normal; font-size:12px; color:#353535; }
    .xans-myshop-orderstate .state__cs .count { padding:0 0 0 4px; font-weight:bold; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-myshop-orderstate .state__order li { position:relative; width:25%; padding:35px 0 33px; text-align:center; }
    .xans-myshop-orderstate .state__order li:not(:last-child):after { content:""; display:block; position:absolute; top:50%; right:0; width:13px; height:13px; margin:-10px auto 0; border-left: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .label { display:block; margin:10px 0 7px; font-size:13px; }
    .xans-myshop-orderstate .state__order .count { font-size:30px; }
    .xans-myshop-orderstate .state__cs { display:none; }
}