#popup { width:600px; }
.xans-myshop-ordersearchproductform .ec-base-table select,
.xans-myshop-ordersearchproductform .ec-base-table input { width:100%; }
.xans-myshop-ordersearchproductform .btnSearch { margin:10px 0 20px; text-align:center; }
.xans-myshop-ordersearchproductform .resultList { border-top:1px solid #000; }
.xans-myshop-ordersearchproductform .listCtrl { overflow:hidden; margin:0 0 10px; }
.xans-myshop-ordersearchproductform .listCtrl .result { float:left; line-height:30px; }
.xans-myshop-ordersearchproductform .listCtrl .select { float:right; }