.xans-mall-faq .contents { padding:20px 0 0; color:#6d6d6d; line-height:20px; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-mall-faq .contents { padding:20px 16px 0; }
}