.xans-member-checkpassword .info { margin:0 0 20px; }
.xans-member-checkpassword .info strong { color:var(--font-color-primary); }
.xans-member-checkpassword .password input { width:100%; max-width:293px; }