.xans-member-edit .required { display:block; margin: -13px 0 0; line-height:1; text-align:right; color:var(--font-color-base); }
.xans-member-edit .required:before { display:none; }
.xans-member-edit .icoRequired { vertical-align:middle; margin-top:-3.5px; }

.xans-member-edit .ec-base-table .error { color:var(--font-color-warn); }

.xans-member-edit .ec-base-table.typeWrite table .interest { margin-top:10px; }
.xans-member-edit .ec-base-table.typeWrite table .interest label { line-height:26px; }

.xans-member-edit .verify { position:relative; display:inline-block; vertical-align:top; }
.xans-member-edit .verify .time { position:absolute; top:10px; right:15px; color:var(--font-color-warn); }
.xans-member-edit .verify #verify_sms_number { padding:2px 50px 2px 4px; box-sizing:border-box; }
.xans-member-edit .verify #verify_sms_number:disabled { padding-right:4px; }

.xans-member-edit .layerLeave { max-width:600px; display:none; }
.xans-member-edit .layerLeave h4 { margin:20px 0 10px; }
.xans-member-edit .layerLeave select,
.xans-member-edit .layerLeave textarea { width:100%; box-sizing:border-box; }

.xans-member-edit .agreeArea { margin-top:50px; }
.xans-member-edit .agreeArea + .agreeArea { margin:30px 0 0; }
.xans-member-edit .agreeArea .title h3 { font-size:16px; font-weight:normal; }
.xans-member-edit .agreeArea label { display:none; }
.xans-member-edit .agreeArea label + label { margin-left:5px; }
.xans-member-edit .agreeArea label.check { display:inline-block; }
.xans-member-edit .agreeArea .contents { overflow:hidden; overflow-y:hidden; overflow-y:auto; height:152px; margin:20px 0 0; padding:20px; color:#6d6d6d; font-size:12px; line-height:20px; border:1px solid #e5e5e5; box-sizing:border-box; }

.xans-member-edit .eTooltip { position:relative; display:inline-block; }
.xans-member-edit .ec-base-tooltip.typeUpper { left:20px !important; bottom:28px !important; width:260px; }
.xans-member-edit .ec-base-tooltip.typeUpper .edge { left:20%; }
.xans-member-edit .ec-base-tooltip.typeUpper:before,
.xans-member-edit .ec-base-tooltip.typeUpper:after { left:55px; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-member-edit input,
    .xans-member-edit select,
    .xans-member-edit .eTooltip,
    .xans-member-edit #nameContents,
    .xans-member-edit #authWrap { width:100%; }
    
    .xans-member-edit .certifForm { width:100%; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-member-edit select,
    .xans-member-edit input[type="text"],
    .xans-member-edit input[type="password"] { width:290px; }

    .xans-member-edit #hint,
    .xans-member-edit #hint_answer { width:450px; }

    .xans-member-edit #mobile1,
    .xans-member-edit #mobile2,
    .xans-member-edit #mobile3,
    .xans-member-edit #phone1,
    .xans-member-edit #phone2, 
    .xans-member-edit #phone3,
    .xans-member-edit #birth_year,
    .xans-member-edit #marry_year,
    .xans-member-edit #partner_year,
    .xans-member-edit #birth_month,
    .xans-member-edit #marry_month,
    .xans-member-edit #partner_month,
    .xans-member-edit #birth_day,
    .xans-member-edit #marry_day,
    .xans-member-edit #partner_day { width:86px; }   
}