.xans-member-joinmapping .accountList li { display: flex; border-bottom:1px solid #E8E8E8; }
.xans-member-joinmapping .accountList li.head { padding-left:52px; }
.xans-member-joinmapping .accountList li.head strong { display:block; flex:1; padding: 14px; font-size: 13px; line-height: 1.5; font-weight: 700; text-align: center; box-sizing: border-box; }
.xans-member-joinmapping .accountList li span { display: block; flex:1; min-width:0; position:relative; padding: 14px 5px; box-sizing: border-box; line-height: 1.5; }
.xans-member-joinmapping .accountList li .snsId { padding:0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;display: block; max-width:100%; flex:none; }
.xans-member-joinmapping .accountList li span label { display:block; white-space: nowrap; }
.xans-member-joinmapping .accountList li span:first-child{ padding-left:55px; }
.xans-member-joinmapping .accountList li span label input { position:absolute; left:20px; top:15px; }
.xans-member-joinmapping .accountList li .center { text-align: center; }
.xans-member-joinmapping .accountList li.head strong:nth-child(2),
.xans-member-joinmapping .accountList li > span:nth-child(2) { width: 77px; flex:none; }
.xans-member-joinmapping .ec-base-button.gBottom { display: block; }
.xans-member-joinmapping .ec-base-button.gBottom [class^="btn"] { display:block; }
.xans-member-joinmapping .ec-base-button.gBottom [class^='btn'] + [class^='btn'] { margin: 10px auto 0 auto; }
.xans-member-joinmapping .btnSubmit { background: #3A4050; border-radius: 2px; font-weight: 700;} 
.xans-member-joinmapping .btnNormal { border-radius: 2px; }
.xans-member-joinmapping .ec-base-box.typeMember { margin:0 16px; }
.xans-member-joinmapping .ec-base-box.typeMember h3.boxTitle{ margin:0 0 20px; font-size: 16px; line-height: 1.5;  }
.xans-member-joinmapping .boxTitle em{ font-style: normal; color:#008bcc; }

@media all and (min-width: 1025px) {
.xans-member-joinmapping .accountList { max-width: 420px; margin: 0 auto; }
.xans-member-joinmapping .accountList li.head strong:nth-child(2),
.xans-member-joinmapping .accountList li > span:nth-child(2) { width: 100px; flex:none; }
.xans-member-joinmapping .ec-base-button.gBottom { margin: 40px 0 0; }
.xans-member-joinmapping .ec-base-button.gBottom [class^="btn"] {  max-width: 421px; margin: 0 auto; }
.xans-member-joinmapping .ec-base-box.typeMember h3.boxTitle{ margin:0 0 35px; }
}