/* headingArea */
.xans-product-detail .headingArea { position:relative; }
.xans-product-detail .headingArea h1 { display:inline; font-size:20px; line-height:30px; vertical-align:middle; }
.xans-product-detail .headingArea .icon_img { max-height:23px; }
.xans-product-detail .headingArea .icon img { margin:0 4px 0 0; vertical-align:middle; }

/* imgArea */
.xans-product-detail .imgArea .prdImg .thumbnail { display:block; position:relative; max-width:100%; }
.xans-product-detail .imgArea .prdImg .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }
.xans-product-detail .imgArea .prdImg img { cursor:pointer; }
.xans-product-detail .imgArea .color { overflow:hidden; width:346px; margin:5px auto; }
.xans-product-detail .imgArea .chips { float:left; width:28px; height:18px; margin:0 3px 3px 0; border:1px solid #e3e3e3; font-size:0; line-height:0; }

/* infoArea */
.xans-product-detail .infoArea p.delivery { padding:10px 0 20px; }
.xans-product-detail .infoArea .guideArea { overflow:hidden; margin:10px 0 0; }
.xans-product-detail .infoArea .guideArea .info { float:left; }
.xans-product-detail .infoArea .guideArea .sizeGuide { float:right; }
.xans-product-detail .infoArea .sizeGuide a { display:inline-block; padding:2px 15px 2px 24px; vertical-align:top; }
.xans-product-detail .infoArea .sizeGuide a:hover { text-decoration:none; }
	.xans-product-detaildesign > table > tbody > tr:first-child { display:none; }
.xans-product-detail .infoArea table { border:0; margin:10px 0 0; font-size:13px; line-height:18px; }
.xans-product-detail .infoArea th { font-weight:normal; width:106px; padding:7px 5px 6px 0; text-align:left; vertical-align:top; }
.xans-product-detail .infoArea td { padding:7px 6px 8px 0; vertical-align:middle; }
.xans-product-detail .infoArea img { vertical-align:middle; }
.xans-product-detail .infoArea td input[type=text] { width:80%; }
.xans-product-detail .infoArea select { width:100%; }
.xans-product-detail .infoArea td #delivery_cost_prepaid { margin:0 0 10px; }
.xans-product-detail .infoArea td .sale { text-decoration:line-through; }
.xans-product-detail .infoArea td .period { display:block; margin:7px 0 0; font-size:11px; color:#353535; }
.xans-product-detail .infoArea td .mileage li { line-height:1.7em; }
.xans-product-detail .infoArea td img.qrcode { border:1px solid #e1e1e1; }
.xans-product-detail .infoArea td #span_product_coupon_dc_price { color:#070705; }
.xans-product-detail .infoArea td.fileInfo { color:#757575; }
.xans-product-detail .infoArea td.fileInfo input { width:100%; }
.xans-product-detail .infoArea td.fileInfo .infoDesc { margin:0 0 10px 0; }
.xans-product-detail .infoArea td.fileInfo li { margin:4px 0 0; color:#757575; font-size:11px; }
.xans-product-detail .infoArea td.fileInfo li img { vertical-align:bottom; }
.xans-product-detail .delv_price_B strong { font-weight:normal; }
.xans-product-detail .btnTooltip { display:inline-block; z-index:10; vertical-align:middle; }
/* option */
.xans-product-detail .xans-product-option { display:block; }
.xans-product-detail .xans-product-option th { display:block; vertical-align:top; }
.xans-product-detail .xans-product-option tr,
.xans-product-detail .xans-product-option td { display:block; }
.xans-product-detail .xans-product-option tr:first-child th,
.xans-product-detail .xans-product-option .xans-product-fileoption th { padding-top:14px; }
.xans-product-detail .xans-product-option tr:first-child td,
.xans-product-detail .xans-product-option .xans-product-fileoption td { padding-top:10px;  }
.xans-product-detail .xans-product-option td.selectButton { text-align:right; }
.xans-product-detail .xans-product-addoption .txtByte { margin:0 0 0 20px; vertical-align:middle; letter-spacing:-1px; }
.xans-product-detail .xans-product-addoption .txtByte strong { color:#000; }
.xans-product-detail .xans-product-option .value { margin:10px 0 0; color:#868686; word-break:break-all; }
.xans-product-detail .xans-product-option .value .ec-product-value { color:#868686; }
.xans-product-detail .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 5px 3px 0; vertical-align:top; border:1px solid #e0e0e0; background:#fff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-detail .xans-product-option .ec-product-button li:last-child { margin-right:0; }
.xans-product-detail .xans-product-option .ec-product-button li a { display:block; min-width:50px; text-align:center; text-decoration:none; word-break:break-all; }
.xans-product-detail .xans-product-option .ec-product-button li a span { display:inline-block; padding:13px 5px; line-height: 22px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview li a { min-width:30px; width:48px; height:48px; }
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview li a span { overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#a9a9a9; }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-soldout a span:before { content:""; display:block; position:absolute; top:0; left:50%; width:100px; height:1px; margin:25px 0px 0 -50px; background:#e0e0e0; -webkit-transform: rotate(-45deg); -transform: rotate(-45deg-); }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-disabled a span { display:inline-block; width:100%; height:100%; color:#a9a9a9; }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-disabled a span:before { content:""; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.25); }
.xans-product-detail .xans-product-option .ec-product-button .ec-product-selected { border:1px solid #000; }
.xans-product-detail .xans-product-option .ec-product-radio > li { display:inline-block; margin:0 0 3px; }
.xans-product-detail .xans-product-option .ec-product-radio label { margin:0 7px 0 0; }
.xans-product-detail .xans-product-option .ec-product-radio label input { margin:0 2px 0 0; }
.xans-product-detail .xans-product-option .ec-product-radio .ec-product-disabled,
.xans-product-detail .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }
.xans-product-detail .xans-product-option .ec-base-qty input[type=text].single-quantity-input { width:45px; }

.xans-product-detail .eventArea h3 { padding:0 0 0 9px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; font-size:12px; line-height:39px; }
.xans-product-detail .eventArea .event { padding:27px 10px 46px 9px; color:#353535; line-height:18px; }

/* 상품 미리보기 이미지 */
#image_zoom_small { display:block; position:absolute; z-index:999; background:#fff; outline:2px solid #aaa; filter:alpha(opacity=50); opacity:0.5; }
#zoom_wrap { position:absolute; top:0; left:103%; z-index:100; display:block;}
.image_zoom_large { position:absolute; z-index:99; width:500px; height:500px; overflow:hidden; background:#fff; outline:1px solid #ececec; }
.image_zoom_large .image_zoom_large_relative { position:relative; display:block; }
.image_zoom_large .image_zoom_large_relative img#zoom_image { position:absolute; z-index:99; max-width:none; }

#NaverChk_Button { margin:10px 0 0; }

#divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; color:#777; background:#fff; border:1px solid #5B9761; }
#divNvPointInfo a { display:block; padding:5px 0 0; color:#1ec228; }
#divNvPointInfo a img { vertical-align:middle; }
#imgNaverMileageHelp { cursor:pointer; }

.xans-product-detail .productSet { margin:20px 0 0; border-top:1px solid #e5e5e5; }
.xans-product-detail .productSet > .title { position:relative; padding:25px 0 10px; box-sizing:border-box; }
.xans-product-detail .productSet > .title h3 { font-size:13px; font-weight:normal; }
.xans-product-detail .productSet .product > li { position:relative; margin:-1px 0 0; border:1px solid #e5e5e5; }
.xans-product-detail .productSet .thumbnail { position:absolute; top:19px; left:19px; z-index:1; width:83px; }
.xans-product-detail .productSet .thumbnail img { max-width:100%; border:1px solid #ededed; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-detail .productSet .information { position:relative; padding:20px 20px 0 123px; }
.xans-product-detail .productSet .information > p { margin:0 0 10px; }
.xans-product-detail .productSet .information .name { padding-right:60px; line-height:20px; }
.xans-product-detail .productSet .information .name .info { display:inline-block; font-size:12px; color:#7d7d7d; }
.xans-product-detail .productSet .information .price .del { font-weight:normal; }
.xans-product-detail .productSet .information .salePrice { color:#939393; }
.xans-product-detail .productSet .information .btnInfo { position:absolute; top:19px; right:19px; z-index:1; }
.xans-product-detail .productSet .option { padding:10px 20px 10px 123px; }
.xans-product-detail .productSet .option > li { margin:0 0 12px; }
.xans-product-detail .productSet .option .name { display:block; margin:0 0 6px; font-weight:normal; }
.xans-product-detail .productSet .option input[type=text] { width:80%; }
.xans-product-detail .productSet .option .ec-base-qty { margin:7px 0 0; }
.xans-product-detail .productSet .option .ec-base-qty input[type=text].single-quantity-input { width:45px; }
.xans-product-detail .productSet .option .selectButton { margin:0 0 6px; text-align:right; }
.xans-product-detail .productSet .guide { overflow:hidden; position:relative; margin:0 19px; }
.xans-product-detail .productSet .guide:after { content:""; display:block; clear:both; }
.xans-product-detail .productSet .guide .qty { float:left; display:inline-block; padding:12px 0; color:#757575; }
.xans-product-detail .productSet .guide .qty:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.xans-product-detail .productSet .guide .sizeGuide { float:right; height:15px; margin:12px 0; }
.xans-product-detail .productSet .guide .sizeGuide:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.xans-product-detail .productSet .guide .sizeGuide a { display:inline-block; padding:0 15px 0 24px; }
.xans-product-detail .productSet.additional .toggle { position:absolute; top:24px; right:8px; display:block; width:20px; height:20px; }
.xans-product-detail .productSet.additional .toggle img { opacity:0; width:1px; height:1px; }
.xans-product-detail .productSet.additional .toggle .icon:before { content:""; display: inline-block; overflow: hidden; width: 8px; height: 8px; margin:8px 0 0 5px; border-left: 1px solid #000; border-bottom: 1px solid #000; transition: .3s ease-out; transform: rotate(135deg); }
.xans-product-detail .productSet.additional .toggle img[src$='open.gif'] + .icon:before { margin-top:4px; transform: rotate(-45deg); }
.xans-product-detail .productSet.hide .product { display:none; }
.xans-product-detail .productSet .ec-base-desc { padding:0 0 10px; border-top:0; border-bottom:1px solid #ddd; }
.xans-product-detail .productSet .ec-base-desc dt { width:135px; padding:0 0 0 20px; }

/* quantity */
.ec-base-desc.quantity { margin:10px 0 0; padding:10px 0 0; border-top:1px solid #ddd; }
.ec-base-desc.quantity dt { width:125px; padding:0 0 0 8px; }
#totalProducts table p:not(.product) { position:relative; display:inline-block; width:103px; margin:10px 0 0; padding:0 30px; vertical-align:top; box-sizing:border-box; }
#totalProducts table p:not(.product) .quantity_opt,
#totalProducts table p:not(.product) input[type="number"] { width:45px; height:30px; padding:0; line-height:28px; margin-left:-1px; border:1px solid #e5e5e5; text-align:center; }
#totalProducts table p:not(.product) .quantity_opt:focus,
#totalProducts table p:not(.product) .quantity_opt:hover { border:1px solid #e5e5e5; }
#totalProducts table p:not(.product) img { position:absolute; top:0; left:0; opacity:.00001; width:100%; height:100%; z-index:10; }
#totalProducts table p:not(.product) .up,
#totalProducts table p:not(.product) .eAddProductQuantityUpClass { position:absolute; right:0; top:0; }
#totalProducts table p:not(.product) .down,
#totalProducts table p:not(.product) .eAddProductQuantityDownClass { position:absolute; left:0; top:0; }
#totalProducts table p:not(.product) a { width:30px; height:30px; border:1px solid #e5e5e5; box-sizing:border-box; overflow: hidden; white-space: nowrap; text-indent: 150%; color: transparent; font-size: 1px; line-height:1px; }
#totalProducts table p:not(.product) a:before { content: ''; position: absolute;left:10px; top: 50%; width: 9px; height: 1px; background: #000; }
#totalProducts table p:not(.product) .up:after,
#totalProducts table p:not(.product) .eAddProductQuantityUpClass:after {content: ''; position: absolute;left: 50%; top: 50%;width: 1px;height: 9px; margin: -4px 0 0 0; background: #000;}

#totalProducts { margin:21px 0 0; }
#totalProducts table { margin:0; }
#totalProducts table .left { text-align:left; }
#totalProducts table .center { text-align:center; }
#totalProducts table .right {font-weight:bold; text-align:right; }
#totalProducts thead th { height:0; padding:0; font-size:0; line-height:0; }
#totalProducts tbody th { vertical-align:middle; }
#totalProducts tbody th strong { font-weight:normal; }
#totalProducts tbody td { padding:30px 0; line-height:18px; vertical-align:middle; word-wrap:break-word; word-break:break-all; }
#totalProducts tbody td .product + .product { padding:7px 10px 0 0; }
#totalProducts tbody td .product span { font-weight:normal; color:#7d7d7d; line-height:18px; }
#totalProducts tbody td .product span.soldOut { display:inline-block; color:#000; }
#totalProducts tbody td img { vertical-align:middle; }
#totalProducts .quantity { display:inline-block; position:relative; width:103px !important; padding:0 30px;vertical-align:top; box-sizing:border-box; }
#totalProducts .quantity input { width:45px; height:30px; line-height:28px; margin-left:-1px; padding:0; border:1px solid #e5e5e5; text-align:center; }
#totalProducts .quantity input:focus,
#totalProducts .quantity input:hover { border:1px solid #e5e5e5; }
#totalProducts .quantity img { position: absolute;top: 0;left: 0;opacity: .00001;width: 100%;height: 100%; z-index: 10; }
#totalProducts .quantity .up { position:absolute; right:0; top:0; }
#totalProducts .quantity .down { position:absolute; left:0; top:0; }
#totalProducts .quantity a { width:30px; height:30px; border:1px solid #e5e5e5; box-sizing:border-box; overflow: hidden; white-space: nowrap; text-indent: 150%; color: transparent; font-size: 1px; line-height:1px; }
#totalProducts .quantity a:before { content: ''; position: absolute;left:10px; top: 50%; width: 9px; height: 1px; background: #000; }
#totalProducts .quantity .up:after {content: ''; position: absolute;left: 50%; top: 50%;width: 1px;height: 9px; margin: -4px 0 0 0; background: #000;}
#totalProducts .delete { display:inline-block; width:12px; height:12px; margin:10px 0 0 5px; vertical-align: middle; background: url(//img.echosting.cafe24.com/skin/skin/product/ico_product_delete.svg) no-repeat 0 0; }
#totalProducts .delete img { opacity: .00001; }
#totalProducts tbody td .mileage { display:block; white-space:nowrap; }
#totalProducts .xans-product-fileoption {border-top:1px solid #e5e5e5;}
#totalProducts > table > tbody > tr:first-child > td { border-top:1px solid #e5e5e5; }
#totalProducts > table > tbody > tr > td:first-child { padding-right:10px; }
#totalProducts tr.option_product > td > table { margin:-30px 0; }
#totalProducts tr.option_product > td > table tr:first-child td:nth-child(2),
#totalProducts tr.option_product > td > table tr:first-child td:nth-child(3) { white-space:nowrap; }
#totalProducts tr.option_product > td > table tr:first-child td.right { white-space:normal; }
#totalProducts tr.option_product > td > table tr:first-child th,
#totalProducts tr.option_product > td > table tr:first-child td { border-top:0; }
#totalProducts tr.option_product > td > table tr.option > td { border-top:1px solid #e5e5e5; padding:9px 0; }
#totalProducts tr.option_product > td > table tr.option > td:first-child{ padding:0; }
#totalProducts tr.option_product th[colspan="3"] { padding:25px 0 0; }
#totalProducts tr.option_product + tr.option_product > td {border-top: 1px solid #e5e5e5;}
#totalProducts .xans-product-option,
#totalProducts .xans-product-option tr,
#totalProducts tr.xans-product-addoption {display:table-row;}
#totalProducts .xans-product-option th,
#totalProducts .xans-product-option td { display:table-cell; }
#totalProducts tbody tr.xans-product-addoption th,
#totalProducts tbody tr.xans-product-addoption td { border-top:0; }
#totalProducts > table > tbody > tr#totalProductsOption > td:first-child {border-top: 0;padding:0;}
#totalProducts tr.add_product { border-top:1px solid #e5e5e5; }
#totalProducts tr.add_product > td { padding-right:0; }
#totalProducts tr.add_product > td > table { margin:-30px 0; }
#totalProducts tr.add_product > td > table tr.option > td:first-child { padding:0; }
#totalProducts tr.add_product > td > table tr:first-child th,
#totalProducts tr.add_product > td > table tr:first-child td { border-top:0; }
#totalProducts tr.add_product .product { padding:0; }
#totalPrice { display:flex; justify-content:space-between; font-size:15px; border-top:1px solid #e5e5e5; vertical-align:middle; background:#fff; }
#totalPrice .title { font-weight:normal; }
#totalPrice .qty { color:#7d7d7d; }
#totalPrice .total { color:#7d7d7d; font-size:13px; }
#totalPrice .total strong { color:#000; color:var(--font-color-primary); font-size:15px;  }
#totalPrice .total em {font-style:normal;}

/* 배송비 차등부과 레이어 */
.differentialShipping { display:none; overflow:hidden; position:absolute; z-index:100; border:1px solid #000; background:#fff; }
.differentialShipping h3.title { height:60px; margin:0 20px; padding:20px 0; font-size:16px; color:#000; box-sizing:border-box; border-bottom:1px solid #e5e5e5; }
.differentialShipping .content { padding:12px 18px 14px 18px; border-top:0; text-align:center; background:#fff; }
.differentialShipping .close { position:absolute; right:14px; top:16px; width:20px; height:20px; -webkit-transform:rotate(45deg); transform:rotate(45deg); }
.differentialShipping .close a { position:relative; z-index:1; display:block; width:100%; height:100%; }
.differentialShipping .close:before { content:""; position:absolute; top:0; right:10px; width:1px; height:21px; background:#000; }
.differentialShipping .close:after { content:""; position:absolute; top:10px; right:0; width:21px; height:1px; background:#000; }
.differentialShipping .close img { display:none; }
.differentialShipping .content ul { color:#757575; line-height:25px; }
.differentialShipping .content li { overflow:hidden; }
.differentialShipping .content li strong { float:left; font-weight:normal; }
.differentialShipping .content li span { float:right; color:#2e2e2e; }
.differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; color:#80aeef; text-align:right; }

/* 회원등급별 할인가 적용 */
.xans-product-detail .discountMember > li { position:relative; float:left; }
.xans-product-detail .discountMember li a { display:block; margin:0 4px 4px 0; }
.xans-product-detail .discount_layer h3 { margin:0 0 8px; font-size:12px; border-bottom:0; }
.xans-product-detail .discount_layer { display:block; left:-140px; min-width:300px; box-sizing:border-box; }
.xans-product-detail .discount_layer .content { overflow-x:hidden; overflow-y:auto; max-height:400px; }
.xans-product-detail .discount_layer thead th { padding:0; width:0; height:0; font-size:0; line-height:0; border-width:0 1px 0 1px; }
.xans-product-detail .discount_layer tbody th { width:auto; padding:7px 0 8px 6px; }
.xans-product-detail .discount_layer .edge { display:none; }
.xans-product-detail .discount_layer .btnStrong { display:inline-block; padding:12px 20px; height:40px; font-size:13px; box-sizing:border-box; border:1px solid transparent; line-height:1; text-decoration:none; vertical-align:middle; word-spacing:-0.5px; letter-spacing:0; text-align:center; color:#fff; background-color:#000; }
.xans-product-detail .discount_layer .ec-base-button { text-align:center; }

/* 세트상품 추가정보 레이어 */
.xans-product-detail .productSet .product { position:relative; }
.xans-product-detail .productSet .description { z-index:10; position:absolute; top:25px; right:0; padding:7px 0 0; }
.xans-product-detail .productSet .description .xans-product-detail { position:relative; padding:15px; background:#fff; }
.xans-product-detail .productSet .description > h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; }
.xans-product-detail .productSet .description p strong { color:#0088d4; }
.xans-product-detail .productSet .description thead th { padding:0; height:0; font-size:0; line-height:0; }
.xans-product-detail .productSet .description tbody { border:1px solid #d7d5d6; }
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description tr:first-child th,
.xans-product-detail .productSet .description tr:first-child td { background:#fbf9fa; border-right:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; color:#363636; }
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description td { height:15px; border-bottom:1px solid #e8e8e8; }
.xans-product-detail .productSet .description td,
.xans-product-detail .productSet .description tr:first-child td { padding:5px 8px; text-align:left; background:#fff; }
.xans-product-detail .productSet .description tr:last-of-type th,
.xans-product-detail .productSet .description tr:last-of-type td { border-bottom:0; }
.xans-product-detail .productSet .description .color td { font-size:0; line-height:0; }
.xans-product-detail .productSet .description .chips { display:inline-block; width:28px; height:18px; margin:0 2px 3px 0; border:1px solid #e3e3e3; }
.xans-product-detail .productSet .description > .ec-base-tooltip { display:block; top:0; }
.xans-product-detail .productSet .description > .ec-base-tooltip > .edge { z-index:20; position:absolute; left:auto; right:40px; display:block; margin:0 0 0 -5px; }

/* regularDelivery */
.xans-product-detail .regularDelivery { margin:20px 0; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
.xans-product-detail .regularDelivery th { vertical-align:top; }
.xans-product-detail .regularDelivery .gLabel { position:relative; margin:0 35px 0 0; }
.xans-product-detail .regularDelivery .badge { display:inline-block; position:relative; top:-1px; height:18px; margin:0 0 0 5px; padding:0 8px; border-radius:10px; line-height:18px; font-size:12px; font-family:"돋움","Dotum"; color:#fff; background-color:#009ffa; }
.xans-product-detail .regularDelivery .badge .icoDown { display:inline-block; position:relative; top:1px; overflow:hidden; width:8px; height:12px; border-radius:50%; line-height:10px; text-indent:-9999px; }
.xans-product-detail .regularDelivery .badge .icoDown:before { content:""; display:inline-block; position:absolute; top:3px; left:2px; width:4px; height:4px; background-color:#fff; }
.xans-product-detail .regularDelivery .badge .icoDown:after { content:""; display:inline-block; position:absolute; bottom:1px; left:0; width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #fff; }
.xans-product-detail .regularDelivery .info { margin:14px 0 0; }
.xans-product-detail .regularDelivery .info ul { margin:6px 0 0; }
.xans-product-detail .regularDelivery .info ul > li { margin:4px 0; letter-spacing:-.8px; }
.xans-product-detail .regularDelivery .info .icoSave { display:inline-block; height:12px; padding:0 2px; border:1px solid #ff5454; border-radius:3px; line-height:12px; color:#ff5454; }
.xans-product-detail .regularDelivery .info .icoDown { display:inline-block; position:relative; overflow:hidden; width:5px; height:10px; margin:0 0 0 2px; line-height:10px; text-indent:-9999px; }
.xans-product-detail .regularDelivery .info .icoDown:before { content:""; display:inline-block; position:absolute; top:0; left:2px; width:1px; height:10px; background-color:#ff5454; }
.xans-product-detail .regularDelivery .info .icoDown:after { content:""; display:inline-block; position:absolute; bottom:2px; left:-2px; padding:4px; border:solid #ff5454; border-width:0 1px 1px 0; transform:rotate(45deg); -webkit-transform:rotate(45deg); }

/********************* Mobile *********************/
@media all and (max-width:767px) {
  .xans-product-detail .productSet > .title .txtInfo { display:block; margin:5px 0 0; }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-product-detail .imgArea { margin:0 0 28px; }
    .xans-product-detail .imgArea .prdImg img { width:100%; }
    .xans-product-detail .imgArea .listImg { display:none; }
    .xans-product-detail .imgArea .xans-product-action { display:none; }
    .xans-product-detail .infoArea { margin:0 16px; }
    .xans-product-detail .xans-product-action .gActionButtonColumn { display:flex; }
    .xans-product-detail .xans-product-action .gActionButtonColumn [class*="btn"] { flex:1; margin:10px 0 0; }
    #NaverChk_Button { margin:0 0 10px; }
    #totalPrice { padding:40px 0 26px; }
    .xans-product-detail .discountMember > li { position:static; }
    .xans-product-detail .discountMember .btnClose.close { display:none; }
    .xans-product-detail .btnTooltip { position:static; }
    .differentialShipping { left:0; right:0; width:88%; margin:10px auto 0; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-detail { padding:30px 0 0 0; }
    .xans-product-detail .detailArea { font-size:0; line-height:0; }
    .xans-product-detail .imgArea { display:inline-block; width:calc(100% - 620px); }
    .xans-product-detail .imgArea .prdImg { width:100%; margin:0 auto; }
    .xans-product-detail .imgArea .prdImg img { width:100%; }
    .xans-product-detail .imgArea .listImg { position:relative; overflow:hidden; width:100%; height:94px; margin:24px 0 0; padding:0 40px; box-sizing:border-box; }
    .xans-product-detail .imgArea .listImg .inner { position:relative; overflow:hidden; width:100%; height:94px; }
    .xans-product-detail .imgArea .listImg ul { margin:0 -6px; }
    .xans-product-detail .imgArea .listImg li { display:inline-block; width:80px; margin:0 6px; font-size:12px; line-height:14px; vertical-align:top; }
    .xans-product-detail .imgArea .listImg li img { max-width:100%; cursor:pointer; }
    .xans-product-detail .imgArea .listImg button { position:absolute; top:0; width:30px; height:94px; font-size:0; line-height:0; color:transparent; border:1px solid #e3e3e3; box-sizing:border-box; }
    .xans-product-detail .imgArea .listImg .icon { border-color:#6d6d6d; }
    .xans-product-detail .imgArea .listImg .prev { left:0; background-position:0 0; }
    .xans-product-detail .imgArea .listImg .prev .icon { margin-left:3px; }
    .xans-product-detail .imgArea .listImg .next { right:0; background-position:-31px 0; }
    .xans-product-detail .imgArea .listImg .next .icon { margin-left:-3px; }
    .xans-product-detail .infoArea { display:inline-block; top:100px; width:483px; margin:0 69px 0 68px; font-size:13px; line-height:1; vertical-align:top; }
    #totalPrice { padding:27px 0 26px; }
  	#orderFixArea { display:none !important; }
    .xans-product-detail .xans-product-action .gActionButtonColumn { display:flex; margin:0 -5px; }
    .xans-product-detail .xans-product-action .gActionButtonColumn [class*="btn"] { flex:1; margin:10px 5px; }
    .xans-product-detail .btnTooltip { position:relative; }
    .differentialShipping { left:50%; top:17px; width:350px; margin:0 0 0 -176px; }
}