.xans-product-normalmenu { border-top:1px solid #e0e0e0; }
.xans-product-normalmenu .function { overflow:hidden; text-align:right; line-height:38px; }
.xans-product-normalmenu .function .btnCompare { display:inline-block; padding:0 12px; border-left:1px solid #d7d5d5; }
.xans-product-normalmenu .function .btnCompare:hover { text-decoration:none; }
.xans-product-normalmenu .prdCount { float:left; color:#7d7d7d; }
.xans-product-normalmenu .prdCount strong { margin-left:8px; }
.xans-product-normalmenu fieldset { margin:20px 0 0; padding:10px 16px; text-align:right; background:#fbf9fa; }


/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-product-normalmenu {padding: 20px 16px 0;}
    .xans-product-normalpackage .product_area {margin: 0 16px;}
}
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-product-normalmenu { margin:40px 0 0; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width: 1024px){
    .xans-product-normalmenu { padding:20px 24px 0; }
    .xans-product-normalpackage .product_area { margin:0 24px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-normalmenu { margin:50px 0 0; padding:40px 0 0; }
}