.xans-layout-multishopshipping { display:none; }
.xans-layout-multishopshipping .worldshipLayer .content .desc { display:block; margin:4px 0 14px; }
.xans-layout-multishopshipping .worldshipLayer select { width:100%; margin:10px 0 0; }

/********************* PC *********************/
@media all and (min-width:1025px) {
  .xans-layout-multishopshipping .worldshipLayer { width:448px; }
}
