.xans-layout-multishoplist.list .toggle span > img { vertical-align:middle }
.xans-layout-multishoplist.list > ul { visibility: hidden; height:0; padding:11px 23px; border:1px solid #000; background:#fff; }
.xans-layout-multishoplist.list > ul li { position:relative; margin:9px 0; }
.xans-layout-multishoplist.list > ul li a { display:block; overflow:hidden; font-size:12px; white-space:nowrap; text-decoration:none; text-overflow:ellipsis; }
.xans-layout-multishoplist.list.show > ul { visibility:visible; height:auto; }

/********************* Mobile *********************/
@media all and (max-width:767px) {
.xans-layout-multishoplist.list { margin:30px 0; padding:0 16px; }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
.xans-layout-multishoplist.list { display:inline-block; width:100%; box-sizing:border-box; }
.xans-layout-multishoplist.list .toggle { position:relative; display:block; width:100%; height:38px; line-height:38px; font-size:16px; text-align:left; background:#fff; border-bottom:1px solid #000; }
    .xans-layout-multishoplist.list .icon { position:absolute; right:5px; top:7px; }
    .xans-layout-multishoplist.list > ul { position: absolute; z-index: 1; width: calc(100% - 32px); margin:-1px 0 0; box-sizing: border-box;}
    .xans-layout-multishoplist.list > ul li a { display:block; margin:2px 0; padding:8px 0; font-size:13px; text-decoration:none; }
}


/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
     .xans-layout-multishoplist.list { margin:60px 0 30px; padding:0 24px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
.xans-layout-multishoplist.list { display:inline-block; position:absolute; z-index:10; left:50px; top:58px; height:28px; }
.xans-layout-multishoplist.list .toggle { display:block; width:100%; height:28px; line-height:28px; font-size:12px; text-align:left; background:#fff; }
    .xans-layout-multishoplist.list .icon { position:absolute; right:0; top:7px; }
}
