.xans-mall-urgencycallsearchoutline .content { min-height:470px; }
.xans-mall-urgencycallsearchoutline .result { margin:18px 0 8px; padding:0 0 0 16px; }
.xans-mall-urgencycallsearchoutline .result strong { color:#000; }
.xans-mall-urgencycallsearchoutline .urgencyOrder .inputOrdNum { width:145px; }
.xans-mall-urgencycallsearchoutline .urgencyProduct .ec-base-table input { width:340px; font-weight:bold; }
.xans-mall-urgencycallsearchoutline .ec-base-table .scroll { overflow:auto; max-height:278px; }
.xans-mall-urgencycallsearchoutline .ec-base-table .scroll.xans-mall-urgencycallordresult { max-height:365px; }
.xans-mall-urgencycallsearchoutline .ec-base-table td.product { overflow:hidden; }
.xans-mall-urgencycallsearchoutline .ec-base-table td.product p { padding:0 0 0 55px; }
.xans-mall-urgencycallsearchoutline .ec-base-table td.product .thumb { float:left; }
.xans-mall-urgencycallsearchoutline .ec-base-table td.product .thumb img { width:46px; }

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-mall-urgencycallsearchoutline { width:680px; }
}
